<div class="navbar">
    <div class="navbar-header">
        <div class="navbar-toggle" onclick="toggleNavbar()">
           <img class="navbar-burger" src="/public/images/burger-menu.svg" alt="" srcset="">

        </div>
    </div>
    <div class="navbar-links">
        {{navbar }}
    </div>
</div>