<html>

<head>
  <link rel="stylesheet" href="/public/style.css">
  <script src="/public/script.js"></script>
</head>

<body>
  {{> navbar }}
  <div class="container">
    {{> header}}
    <div class="content">
      {{#if (eq type 'form')}}
      {{form form}}
      {{else if (eq type 'list')}}
      {{list list }}
      {{/if}}





    </div>
    {{> footer}}

  </div>
</body>

</html>